* {
 margin: 0px;
 padding: 0px;
}

.container {
 display: flex;
 justify-content: center;
 margin-top: 50px;
 height: 90vh;
}

input {
 outline: none;
 border-radius: 4px;
 padding: 10px 10px;
 font-size: 15px;
 font-weight: 700;
 font-family: 'Akaya Kanadaka', cursive;
 letter-spacing: 1px;
 margin-right: 20px;
 margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.buttonClass {
 padding: 15px 37px;
 text-decoration: none;
 font-family: Arial;
 color: #fff;
 font-weight: bold;
 border-top-left-radius: 28px;
 border-top-right-radius: 28px;
 border-bottom-left-radius: 7px;
 border-bottom-right-radius: 28px;
 box-shadow: -2px 13px 19px -9px #276873;
 background: linear-gradient(#599bb3, #408c99);
}

.buttonClass:hover {
 background: linear-gradient(#408c99, #599bb3);
}

h1 {
 text-align: center;
 font-family: 'Akaya Kanadaka', cursive;
}

.result {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 200px;
 border-radius: 89px;
 background: #fbf7fd;
 box-shadow: inset -9px -9px 12px #979498,
  inset 9px 9px 12px #ffffff;
 height: 200px;
 padding: 10px 40px;
}

#ans {
 font-family: 'DynaPuff', cursive;
 font-size: 22px;
}